<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Enter as </h1>
    <form action="/check" method="POST">
        <h4>restaurant</h4>
        <input type="radio" name="enter" value="restaurant">
        <h4>user</h4>
        <input type="radio" name="enter" value="user">
        <button type="submit">lets go</button>
    </form>
</body>

</html>