<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <style>
        .bg-light{background-color:#eb4d04!important}
        .size{width:400px;
        height:400px}
        .row{
            margin-top:50px
        }
        .text{
            
            font-size: 53pt;
            font-family: 'Rubik', ;
            text-align: center;
            margin-top:30px;

            color: rgb(80, 71, 71)
        } 
        .sub{
            margin-top:35px;
            font-family: 'Rubik', ;
            color: rgb(80, 71, 71)
        }
        
        </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-light color">
        <a class="navbar-brand" href="/">Foodshala</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">

                <img src="https://wallpaperaccess.com/full/629233.jpg" class=" size rounded float-left" alt="...">
            </div>
            <div class="col">
                <h1 class="text">Welcome to </h1>

                <h1 class="text" style="color:#eb4d04">Foodshala! </h1>
                <h3 class="sub">Sure shot destination to satisfy your hunger</h3>
            </div>
        </div>
        <div>
            <h1 style="margin-top:50px">Which below defines you right now!</h1>
            <form action="/check" method="POST">
                <div class="row">
                    <div class="col">
                        <input type="radio" name="enter" value="restaurant">
                        <label style="margin:0 5px;font-size:18pt">Restaurant</label>
                    </div>
                    <div class="col">
                        <input type="radio" name="enter" value="user">
                        <label style="margin:0 5px;font-size:18pt">Customer</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col">
                        <button style="margin-top:20px" class="btn btn-danger" type="submit">lets go</button>
                    </div>
                    <div class="col">

                    </div>

                </div>

            </form>
        </div>


    </div>

</body>

</html>